
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>FM4 stream download</title>

    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dist/css/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">FM4 stream download</a>
        </div>
      </div>
    </nav>

    <div class="container">
        Day:
        <form action="/broadcasts" method="POST">
        <select class="form-control" name="day">
            % for d in days:
            <option value="{{d}}">{{d}}</option>
            %end
        </select>
        <button type="submit" class="btn btn-default">Show download link</button>
        </form>

        <table class="table table-hover col-md-2">
        % for show in shows:
        <tr>
            <td><a href="/program?programKey={{show['programKey']}}&day={{day}}" download="{{show['title']}}_{{day}}.mp3">{{show['title']}}</a></td>
        </tr>
        % end
        </table>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

